@model Quan_Ly_Sinh_Vien.Database.LopHoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div class="container-fluid">
    <!--page heading-->
    <h1 class="h3 mb-2 text-gray-800">Môn Học</h1>
    <!--Datatables Example-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Mục Môn Học</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div>
                    <h4>LopHoc</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TenLop)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TenLop)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SiSo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SiSo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TenGiangVien)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TenGiangVien)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PhongHoc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PhongHoc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NamHoc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NamHoc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.KhoaHoc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.KhoaHoc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GioiTinhGiangVien)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GioiTinhGiangVien)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.MaLop">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>