@model IEnumerable<Quan_Ly_Sinh_Vien.Database.LopHoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="container-fluid">
    <!--page heading-->
    <h1 class="h3 mb-2 text-gray-800">Môn Học</h1>
    <!--Datatables Example-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Mục Môn Học</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TenLop)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SiSo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenGiangVien)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhongHoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NamHoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.KhoaHoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GioiTinhGiangVien)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenLop)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SiSo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenGiangVien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhongHoc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NamHoc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KhoaHoc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GioiTinhGiangVien)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.MaLop">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.MaLop">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.MaLop">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>