@model Quan_Ly_Sinh_Vien.Database.LichHoc

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh Sách Lịch Học</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Sách Lịch Học</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
<h1>Details</h1>

<div>
    <h4>Lịch Học</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuNgayThang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuNgayThang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhongHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopNavigation.TenLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMonHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMonHocNavigation.TenMonHoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaLichHoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
